<div id="welcome">
  <h1>Welcome to Chris & Alexandra's</h1>
  <%= image_tag "https://www.librarieshawaii.org/wp-content/uploads/2016/09/Book-club-graphic-resized-for-website.jpg", alt: "book club"  %>
  <br>
  <%= link_to "click here to enter", books_path %>
</div>
